
/* ===============
COLORS
================== */

:root {
--Colors-Amber-50: #FFFBEB;
--Colors-Amber-100: #FEF3C7;
--Colors-Amber-200: #FDE68A;
--Colors-Amber-300: #FCD34D;
--Colors-Amber-400: #FBBF24;
--Colors-Amber-500: #F59E0B;
--Colors-Amber-600: #D97706;
--Colors-Amber-700: #B45309;
--Colors-Amber-800: #92400E;
--Colors-Amber-900: #78350F;
--Colors-Amber-950: #451A03;
--Colors-Basic-Black: #000000;
--Colors-Basic-White: #FFFFFF;
--Colors-Blue-50: #EFF6FF;
--Colors-Blue-100: #DBEAFE;
--Colors-Blue-200: #BFDBFE;
--Colors-Blue-300: #93C5FD;
--Colors-Blue-400: #60A5FA;
--Colors-Blue-500: #3B82F6;
--Colors-Blue-600: #2563EB;
--Colors-Blue-700: #1D4ED8;
--Colors-Blue-800: #1E40AF;
--Colors-Blue-900: #1E3A8A;
--Colors-Blue-950: #172554;
--Colors-Cyan-50: #ECFEFF;
--Colors-Cyan-100: #CFFAFE;
--Colors-Cyan-200: #A5F3FC;
--Colors-Cyan-300: #67E8F9;
--Colors-Cyan-400: #22D3EE;
--Colors-Cyan-500: #06B6D4;
--Colors-Cyan-600: #0891B2;
--Colors-Cyan-700: #0E7490;
--Colors-Cyan-800: #155E75;
--Colors-Cyan-900: #164E63;
--Colors-Cyan-950: #083344;
--Colors-Emerald-50: #ECFDF5;
--Colors-Emerald-100: #D1FAE5;
--Colors-Emerald-200: #A7F3D0;
--Colors-Emerald-300: #6EE7B7;
--Colors-Emerald-400: #34D399;
--Colors-Emerald-500: #10B981;
--Colors-Emerald-600: #059669;
--Colors-Emerald-700: #047857;
--Colors-Emerald-800: #065F46;
--Colors-Emerald-900: #064E3B;
--Colors-Emerald-950: #022C22;
--Colors-Fuchsia-50: #FDF4FF;
--Colors-Fuchsia-100: #FAE8FF;
--Colors-Fuchsia-200: #F5D0FE;
--Colors-Fuchsia-300: #F0ABFC;
--Colors-Fuchsia-400: #E879F9;
--Colors-Fuchsia-500: #D946EF;
--Colors-Fuchsia-600: #C026D3;
--Colors-Fuchsia-700: #A21CAF;
--Colors-Fuchsia-800: #86198F;
--Colors-Fuchsia-900: #701A75;
--Colors-Fuchsia-950: #4A044E;
--Colors-Gray-50: #F9FAFB;
--Colors-Gray-100: #F3F4F6;
--Colors-Gray-200: #E5E7EB;
--Colors-Gray-300: #D1D5DB;
--Colors-Gray-400: #9CA3AF;
--Colors-Gray-500: #6B7280;
--Colors-Gray-600: #4B5563;
--Colors-Gray-700: #374151;
--Colors-Gray-800: #1F2937;
--Colors-Gray-900: #111827;
--Colors-Gray-950: #030712;
--Colors-Green-50: #F0FDF4;
--Colors-Green-100: #DCFCE7;
--Colors-Green-200: #BBF7D0;
--Colors-Green-300: #86EFAC;
--Colors-Green-400: #4ADE80;
--Colors-Green-500: #22C55E;
--Colors-Green-600: #16A34A;
--Colors-Green-700: #15803D;
--Colors-Green-800: #166534;
--Colors-Green-900: #14532D;
--Colors-Green-950: #052E16;
--Colors-Indigo-50: #EEF2FF;
--Colors-Indigo-100: #E0E7FF;
--Colors-Indigo-200: #C7D2FE;
--Colors-Indigo-300: #A5B4FC;
--Colors-Indigo-400: #818CF8;
--Colors-Indigo-500: #6366F1;
--Colors-Indigo-600: #4F46E5;
--Colors-Indigo-700: #4338CA;
--Colors-Indigo-800: #3730A3;
--Colors-Indigo-900: #312E81;
--Colors-Indigo-950: #1E1B4B;
--Colors-Lime-50: #F7FEE7;
--Colors-Lime-100: #ECFCCB;
--Colors-Lime-200: #D9F99D;
--Colors-Lime-300: #BEF264;
--Colors-Lime-400: #A3E635;
--Colors-Lime-500: #84CC16;
--Colors-Lime-600: #65A30D;
--Colors-Lime-700: #4D7C0F;
--Colors-Lime-800: #3F6212;
--Colors-Lime-900: #365314;
--Colors-Lime-950: #1A2E05;
--Colors-Neutral-50: #FAFAFA;
--Colors-Neutral-100: #F5F5F5;
--Colors-Neutral-200: #E5E5E5;
--Colors-Neutral-300: #D4D4D4;
--Colors-Neutral-400: #A3A3A3;
--Colors-Neutral-500: #737373;
--Colors-Neutral-600: #525252;
--Colors-Neutral-700: #404040;
--Colors-Neutral-800: #262626;
--Colors-Neutral-900: #171717;
--Colors-Neutral-950: #0A0A0A;
--Colors-Orange-50: #FFF7ED;
--Colors-Orange-100: #FFEDD5;
--Colors-Orange-200: #FED7AA;
--Colors-Orange-300: #FDBA74;
--Colors-Orange-400: #FB923C;
--Colors-Orange-500: #F97316;
--Colors-Orange-600: #EA580C;
--Colors-Orange-700: #C2410C;
--Colors-Orange-800: #9A3412;
--Colors-Orange-900: #7C2D12;
--Colors-Orange-950: #431407;
--Colors-Pink-50: #FDF2F8;
--Colors-Pink-100: #FCE7F3;
--Colors-Pink-200: #FBCFE8;
--Colors-Pink-300: #F9A8D4;
--Colors-Pink-400: #F472B6;
--Colors-Pink-500: #EC4899;
--Colors-Pink-600: #DB2777;
--Colors-Pink-700: #BE185D;
--Colors-Pink-800: #9D174D;
--Colors-Pink-900: #831843;
--Colors-Pink-950: #500724;
--Colors-Purple-50: #FAF5FF;
--Colors-Purple-100: #F3E8FF;
--Colors-Purple-200: #E9D5FF;
--Colors-Purple-300: #D8B4FE;
--Colors-Purple-400: #C084FC;
--Colors-Purple-500: #A855F7;
--Colors-Purple-600: #9333EA;
--Colors-Purple-700: #7E22CE;
--Colors-Purple-800: #6B21A8;
--Colors-Purple-900: #581C87;
--Colors-Purple-950: #3B0764;
--Colors-Red-50: #FEF2F2;
--Colors-Red-100: #FEE2E2;
--Colors-Red-200: #FECACA;
--Colors-Red-300: #FCA5A5;
--Colors-Red-400: #F87171;
--Colors-Red-500: #EF4444;
--Colors-Red-600: #DC2626;
--Colors-Red-700: #B91C1C;
--Colors-Red-800: #991B1B;
--Colors-Red-900: #7F1D1D;
--Colors-Red-950: #450A0A;
--Colors-Rose-50: #FFF1F2;
--Colors-Rose-100: #FFE4E6;
--Colors-Rose-200: #FECDD3;
--Colors-Rose-300: #FDA4AF;
--Colors-Rose-400: #FB7185;
--Colors-Rose-500: #F43F5E;
--Colors-Rose-600: #E11D48;
--Colors-Rose-700: #BE123C;
--Colors-Rose-800: #9F1239;
--Colors-Rose-900: #881337;
--Colors-Rose-950: #4C0519;
--Colors-Sky-50: #F0F9FF;
--Colors-Sky-100: #E0F2FE;
--Colors-Sky-200: #BAE6FD;
--Colors-Sky-300: #7DD3FC;
--Colors-Sky-400: #38BDF8;
--Colors-Sky-500: #0EA5E9;
--Colors-Sky-600: #0284C7;
--Colors-Sky-700: #0369A1;
--Colors-Sky-800: #075985;
--Colors-Sky-900: #0C4A6E;
--Colors-Sky-950: #082F49;
--Colors-Slate-50: #F8FAFC;
--Colors-Slate-100: #F1F5F9;
--Colors-Slate-200: #E2E8F0;
--Colors-Slate-300: #CBD5E1;
--Colors-Slate-400: #94A3B8;
--Colors-Slate-500: #64748B;
--Colors-Slate-600: #475569;
--Colors-Slate-700: #334155;
--Colors-Slate-800: #1E293B;
--Colors-Slate-900: #0F172A;
--Colors-Slate-950: #020617;
--Colors-Stone-50: #FAFAF9;
--Colors-Stone-100: #F5F5F4;
--Colors-Stone-200: #E7E5E4;
--Colors-Stone-300: #D6D3D1;
--Colors-Stone-400: #A8A29E;
--Colors-Stone-500: #78716C;
--Colors-Stone-600: #57534E;
--Colors-Stone-700: #44403C;
--Colors-Stone-800: #292524;
--Colors-Stone-900: #1C1917;
--Colors-Stone-950: #0C0A09;
--Colors-Teal-50: #F0FDFA;
--Colors-Teal-100: #CCFBF1;
--Colors-Teal-200: #99F6E4;
--Colors-Teal-300: #5EEAD4;
--Colors-Teal-400: #2DD4BF;
--Colors-Teal-500: #14B8A6;
--Colors-Teal-600: #0D9488;
--Colors-Teal-700: #0F766E;
--Colors-Teal-800: #115E59;
--Colors-Teal-900: #134E4A;
--Colors-Teal-950: #042F2E;
--Colors-Violet-50: #F5F3FF;
--Colors-Violet-100: #EDE9FE;
--Colors-Violet-200: #DDD6FE;
--Colors-Violet-300: #C4B5FD;
--Colors-Violet-400: #A78BFA;
--Colors-Violet-500: #8B5CF6;
--Colors-Violet-600: #7C3AED;
--Colors-Violet-700: #6D28D9;
--Colors-Violet-800: #5B21B6;
--Colors-Violet-900: #4C1D95;
--Colors-Violet-950: #2E1065;
--Colors-Yellow-50: #FEFCE8;
--Colors-Yellow-100: #FEF9C3;
--Colors-Yellow-200: #FEF08A;
--Colors-Yellow-300: #FDE047;
--Colors-Yellow-400: #FACC15;
--Colors-Yellow-500: #EAB308;
--Colors-Yellow-600: #CA8A04;
--Colors-Yellow-700: #A16207;
--Colors-Yellow-800: #854D0E;
--Colors-Yellow-900: #713F12;
--Colors-Yellow-950: #422006;
--Colors-Zinc-50: #FAFAFA;
--Colors-Zinc-100: #F4F4F5;
--Colors-Zinc-200: #E4E4E7;
--Colors-Zinc-300: #D4D4D8;
--Colors-Zinc-400: #A1A1AA;
--Colors-Zinc-500: #71717A;
--Colors-Zinc-600: #52525B;
--Colors-Zinc-700: #3F3F46;
--Colors-Zinc-800: #27272A;
--Colors-Zinc-900: #18181B;
--Colors-Zinc-950: #09090B;
}

/* ===============
Typography
================== */


h1, .h1 { 
    color: var(--Colors-Slate-100);
    font-size: 2.44rem;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    margin: .1em;
}
h2, .h2 { 
    font-size: 1.2rem; 
    font-weight: 300;
    text-align: center;
    color: var(--Colors-Slate-400);
    text-transform: uppercase;
}
h3, .h3 { 
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    color: var(--Colors-Slate-400);
    margin: 0;
}
h4, .h4 { 
    font-size: 0.88rem; 
}
h5 {
    font-size: 1.35rem;
    font-weight: 300;
    color: var(--Colors-Slate-100);
    line-height: 2rem;
    margin-bottom: .5em;
}
p, .p  { 
    font-size: 1.125rem; 
    font-style: normal;
    font-weight: 300;
    line-height: 1.625rem; /* 130% */
    letter-spacing: 0.0125rem;
    margin: .1rem;
}

main > p {
    color: var(--Colors-Slate-300);
    line-height: 1.7rem;
}


.subtitle {
    font-weight: 500;
}
.subtext {
    font-size: 1rem;
    font-weight: 200;
    color: var(--Colors-Slate-400);
    line-height: 1.4rem;
}

.title {
    text-align: center;
}

/* ===============
Images
================== */



/* ===============
Layout
================== */

body {
    background: linear-gradient(45deg, var(--Colors-Slate-950) 0%, var(--Colors-Slate-800) 40%, var(--Colors-Slate-800) 70%, var(--Colors-Slate-900) 90%, var(--Colors-Slate-800) 100%);
}

html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    user-select: none;
    margin: 0;
    padding: 3em 0.625em;
    color: var(--Colors-Slate-200);
    
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    margin-top: 20px;
}

.header-bg {   
    width: 20rem;
    height: 30rem;
    background: url(./assets/image_phil-sheffield.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    position: absolute;
    filter: blur(80px);
    top: -200px;
    opacity: 90%;
}

.background-slice {
    padding: 40px 10px 10px 10px;
    backdrop-filter: blur(100px);
    border-radius: 20px;
    margin-top: 80px;
}


.img-profile {
    width: 126px;
    height: 126px;
    border-radius: 50%;
    z-index: 3;
    position: absolute;
    box-shadow: 0px 4px 6px 0px #00000079;
}

main {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1.5rem 1.5rem 0rem 1.5rem;
    gap: 0.625rem;
    border-radius: 0.625rem;
}

section {
    display: flex;
    flex-direction: column;
    padding: 3em 0;
}


/* ===============
Components
================== */


/* === sections === */



.separator {
    border-top: 1px solid var(--Colors-Slate-600);
}
.content {
    z-index: 2;
}

/* === Stats === */

.statistics {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 4em;
}

.stat--stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 120px;
    text-align: center;
}

/* === Card === */


.card {
    display: flex;
    flex-direction: row;
    margin: 1em;
    padding: 1.5em;
    color: var(--Colors-Slate-200);
    border: 1px hsla(0, 0%, 0%, 0.0) solid;
    border-radius: .3em;
    text-decoration: none;
    transition: all .3s ease;
  }
  
  a {
    text-decoration: none;
  }
  
  a > .card:hover {
      background-color: var(--Colors-Slate-700);
      color: var(--Colors-Slate-100);
      border: 1px var(--Colors-Slate-600) solid;
    }
  a > .card:visited {
      color: var(--Colors-Slate-100);
  }
  
  .card--image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    width: 2em;
    margin-bottom: .1em;
    padding: 0 1.2em 0 0;
  }
  
  .card--stack {
    flex-wrap: wrap;
  }
  
  .card--list-data {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5em;
    margin: 0;
    padding: .4em 0 0 0;
  }
  
  .card--title {
    font-weight: 500;
    list-style-type: none;
  }
  .card--subtext {
    font-size: 0.875rem;
    font-weight: 200;
    color: var(--Colors-Slate-400);
    line-height: 1.2rem;
    list-style-type: none;
  }

/* ====== animations    */
    .fade-in-scroll {
        opacity:0.4;
        transform: translateY(20%);
        transition: all 0.3s ease-in-out 0s;
    }
    .fade-delay-1-scroll {
        opacity:0;
        transform: translateY(20%);
        transition: all 0.3s ease-in-out .8s;
    }
    .fade-delay-2-scroll {
        opacity:0;
        transform: translateY(20%);
        transition: all 0.3s ease-in-out 1.2s;
    }
    .fade-section-scroll {
        opacity:0;
        transform: translateY(5%);
        transition: all 0.2s ease-in-out 0s;
    }

    .active {
        opacity: 1;
        transform: translateY(0);
    }

    .fade-delay-1 {
        opacity:0;
        transform: translateY(5%);
        animation: transform .8s ease-in 1.2s 1 normal both ;
    }
    .fade-delay-2 {
        opacity:0;
        transform: translateY(20%);
        animation: flash .3s ease-in .3s 1 normal both ;
    }
    .fade-delay-3 {
        opacity:0;
        transform: translateY(20%);
        animation: flash .3s ease-in .8s 1 normal both ;
    }
    .fade-delay-4 {
        opacity:0;
        transform: translateY(20%);
        animation: flash .3s ease-in 1.2s 1 normal both ;
    }
    .fade-in {
        opacity:0;
        transform: translateY(05%);
        animation: transform .6s ease-in 0s 1 normal both ;
    }
@keyframes transform {
    100% {transform: translateY(0); opacity: 1; }
}
@keyframes flash {
    50% {transform: translateY(0); opacity: 1; color: var(--Colors-Sky-400);}
    100% {transform: translateY(0); opacity: 1; color: var(--Colors-Slate-400); }
}

/* media queries for desktop */
  @media (min-width: 799px) {
    body {
        width: 800px;
    }

    h1, .h1 {
        font-size: 4rem; 
    }
    h2, .h2 { 
        font-size: 1.5rem; 
    }
    h3, .h3 { 
        font-size: 1.5rem;
    }
    h5, .h5 {
        font-size: 1.35rem;
    }
    .separator {
        align-items: center;
    }
    p, .p {
        font-size: 1.1rem;
    }

    .background-slice {
        padding: 50px 50px 0px 50px;
    }
   .cards {
    display: flex;
    flex-direction: row;    
    }

    .statistics {
        padding-bottom: 4em;
        padding-top: 2em;
    }

    a {
        display:inline-block;
        width:100%;
        height:100%;
    }

    .card {
            display: flex;
            flex-direction: row;
            padding: 1em 1em;
    }

    .multi-column {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex: 1;
    }

    .multi-column .card {
        width: 40%;
    }

    .single {
        width: 800px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

}